<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaBDatos.Properties.Settings.CadenaConexion_bd_Computadora"
            connectionString="Data Source=DESKTOP-K1IOKQ5;Initial Catalog=Computadora;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>